* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
#logo-navbar {
    width: 139px;
    height: 60px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: #ffffff;
}
.menu {
    list-style: none;
    display: flex;
    gap: 32px;
    text-decoration: none;
}
.menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}
#navbutton {
    width: 164px;
    height: 44px;
    padding: 12.5px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
#navbutton:hover {
    background-color: #28a75b;
}
.hero {
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    height: 520px;
}
.capsule {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #2f855a;
    gap: 8px;
    padding: 8px 14px;
    border-radius: 999px;
    background: white;
    border: 1px solid #e6e6e6;
    margin-bottom: 16px;
}
.capsule .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #38a169;
    box-shadow: 0 0 0 3px #38a16926;
}
.hero .herotxt{
    font-style: Bold;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.hero .grntxt{
    color: #30B868;
}
p1{
    color: #FFFFFF;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.hero-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
}
#hero-button1{
    height: 44px;
    padding: 12.5px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-arrow{
    margin-left: 6px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#hero-button1:hover{
    background-color: #28a75b;
}
#hero-button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px ;
    background: transparent;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;

}
#hero-button2:hover{
    background-color: #fff5f5;
    color: #000000;
}
.cards-section{
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    background-color: #ffffff;
}
.txt-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px;
    margin-bottom: 10px;
}
.title-txt{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: #000000;
}
.txt-header p2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #716e6e;
}
.cards-container { 
    display: flex;
    gap: 20px;
    justify-content: center;
}
.cards {
    width: 280px;
    background: #ffffff;
    border-radius: 6px;
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-bottom: none;
}
.icon-wrapper {
    width: 55px;
    height: 55px;
    background: #ff5b5b;   
    border-radius: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px; 
}
.icon-wrapper img {
    width: 28px;
    height: 28px;
}
.cards h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #0f172a;
}
.cards p {
    font-size: 14px;
    color: #64748b;
    line-height: 1.2;
}
.knowledge-img-container {
    padding: 60px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#knowledge-img {
    width: 500px;
    height: 500px;
}
.knowledge-img-container-txt {
    margin-left: 60px;
}
.small-grntxt {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.title-txt-kic {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    color: #000000;
    margin-bottom: 16px;
}
.kic-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #716e6e;
    margin-bottom: 32px;
}
.grncheck-circle-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 16px;
}
.grncheck-circle-img {
    width: 20px;
    height: 20px;
}
.grncheck-circle-txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left; 
}
.cta-section {
    background: #F7F6F2;
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 120px 120px 120px;
}
.cta-title {
    font-style: Bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.cta-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #716e6e;
    margin-bottom: 24px;
}
#cta-button {
    height: 44px;
    padding: 12.5px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 16px;
}
#cta-button:hover{
    background-color: #28a75b;
}
.footer {
    background-color: #001931;
    height: 340px;
    width: 100%;
    padding: 120px 120px 30px 120px;
}
.footer-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.copyright-txt {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}
.line {
    width: 100%;
    height: 0px;
    background-color: #FFFFFF;
}
.upper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.icons img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.icon-txt {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.social-links {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    flex-direction: column;
}


